<div class="nav-bar-container">
  <div class="nav-bar">
    <mat-toolbar class="expanded-toolbar">
      <div>
        <button mat-icon-button fxShow="true">
          <mat-icon (click)="sidenav.toggle()">horizontal_split</mat-icon>
        </button>
      </div>
      <span>
        <H2>{{ title }}</H2>
      </span>

      <button mat-button routerLink="/school/home">
        <mat-icon>home</mat-icon>
      </button>

      <!-- <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
          <mat-icon>home</mat-icon>
          Login
        </button>


      </div> -->
      <div fxFlex fxLayout fxLayoutAlign="end" class="logout-btn">
        <button
          matTooltip="Log Out"
          mat-button
          *ngIf="isAuthenticated"
          (click)="logout()"
        >
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div>

<mat-sidenav-container>
  <mat-sidenav #sidenav position="start" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/school/home'">
        <mat-icon class="">home</mat-icon>
        Home
      </a>
      <a mat-list-item [routerLink]="'/school/dashboard'">
        <mat-icon>dashboard </mat-icon>
        Dashboard
      </a>
      <a mat-list-item [routerLink]="'/about'">
        <mat-icon>spa</mat-icon>
        About
      </a>
      <a mat-list-item [routerLink]="'/contacts'">
        <mat-icon>contacts</mat-icon>
        Contacts
      </a>
      <a mat-list-item [routerLink]="'/Settings'">
        <mat-icon>settings</mat-icon>
        settings
      </a>
      <a mat-list-item [routerLink]="'/logout'">
        <mat-icon>settings_power</mat-icon>
        Signout
      </a>
      <!-- <a
        mat-list-item
        *ngIf="isAuthenticated"
        (click)="logout()"
        matTooltip="Log Out"
      >Log Out
        <mat-icon color="warn"> power_settings_new</mat-icon>
      </a> -->

      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
