<div class="nav-bar-container">
  <div class="nav-bar">
    <mat-toolbar class="expanded-toolbar">
      <div>
        <button mat-icon-button fxShow="true">
          <mat-icon (click)="sidenav.toggle()">horizontal_split</mat-icon>
        </button>
      </div>
      <span>
        <H2>{{ title }}</H2>
      </span>

      <button mat-button routerLink="/school/home">
        <mat-icon>home</mat-icon>
      </button>

      <!-- <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
        <button mat-button routerLink="/login" *ngIf="!isAuthenticated">
          <mat-icon>home</mat-icon>
          Login
        </button>


      </div> -->
      <div fxFlex fxLayout fxLayoutAlign="end" class="logout-btn">
        <button
          matTooltip="Log Out"
          mat-button
          *ngIf="isAuthenticated"
          (click)="logout()"
        >
          <mat-icon>power_settings_new</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>
</div>

<!-- side nav-bar -->
<mat-sidenav-container>
  <mat-sidenav #sidenav position="start" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/school/home'">
        <mat-icon>home</mat-icon>
        Home
      </a>
      <mat-divider> </mat-divider>
      <!-- <a mat-list-item [routerLink]="'/school/'">
        <mat-icon>dashboard </mat-icon>
        Dashboard
      </a>
      <mat-divider> </mat-divider> -->

      <a mat-list-item [routerLink]="'/school/side-nav/about'">
        <mat-icon>local_library</mat-icon>
        About
      </a>
      <mat-divider> </mat-divider>

      <a mat-list-item [routerLink]="'/school/side-nav/contact'">
        <mat-icon>contacts</mat-icon>
        Contacts
      </a>
      <mat-divider> </mat-divider>

      <a mat-list-item [routerLink]="'/school/side-nav/change-password'">
        <mat-icon>settings</mat-icon>
        Settings
      </a>
      <mat-divider> </mat-divider>

      <a mat-list-item [routerLink]="'/Settings'">
        <mat-icon>backup</mat-icon>
        Back-up
      </a>
      <mat-divider> </mat-divider>

      <a mat-list-item [routerLink]="'/log out'">
        <mat-icon color="warn">settings_power</mat-icon>
        Signout
      </a>
      <mat-divider> </mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 93vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
