<div class="d-flex  row">


  <div class="col-2">
    <button
        mat-raised-button
        ngbTooltip="Save"
        (click)="onAdd()"
        *ngIf="enableAdd"
    >Create New
  </button>
  </div>


  <!-- /add button -->

  <!-- search -->

  <div
      *ngIf="enableSearch"
      class="d-flex ml-auto mb-2 mr-1">
    <div
        class="mr-1 search__container"
        [class.search__container--expanded]="isSearchShowing">
      <input
          type="text"
          class="form-control"
          placeholder="Search..">
    </div>
    <button class="btn rounded-circle bg-blue text-white"
            (click)="isSearchShowing = !isSearchShowing">
      <i class="fas fa-search"></i>
    </button>
  </div>

  <!--/ search  -->
</div>
