<kurumba-breadcrumb></kurumba-breadcrumb>

<!-- class form -->
<form novalidate role="form" [formGroup]="classForm">
  <fieldset class="scheduler-border">
    <legend class="scheduler-border ml-3">Class Form</legend>
    <!-- <mat-divider></mat-divider> -->

    <div class="row mb-1 mt-2">
      <div class="col-md-12">
        <mat-card>
          <mat-card-content>
            <div class="row">
              <!--  name -->
              <div class="col-md-12">
                <kurumba-form-group>
                  <mat-form-field class="example-full-width">
                    <mat-label>Class</mat-label>
                    <input
                      matInput
                      type="text"
                      id="className"
                      name="className"
                      (paste)="onPaste($event, 'alphaOnly')"
                      (keypress)="validate($event, 'alphaOnly')"
                      formControlName="className"
                      required
                    />
                    <mat-hint>Enter student className.</mat-hint>
                    <mat-error *ngIf="className.invalid"
                      >Class is required.</mat-error
                    >

                    <!-- <mat-error *ngIf="className.errors.minLength">Enter proper name</mat-error>
                          <mat-error *ngIf="className.errors.maxLength">Invalid Class name</mat-error> -->
                  </mat-form-field>
                </kurumba-form-group>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <!-- subject table -->
                  <table
                    class="table table-bordered table-responsive"
                    formArrayName="subjectCollection"
                  >
                    <tr class="text-center">
                      <th>Sn.</th>
                      <th>Subject</th>
                      <th>Theory marks</th>
                      <th>Practical marks</th>
                      <th>
                        <button
                          fxHide
                          fxShow.lt-sm
                          mat-raised-button
                          class="mx-2"
                          type="button"
                          (click)="addSubject()"
                        >
                          Add subject <mat-icon> add</mat-icon>
                        </button>
                      </th>
                    </tr>

                    <tr
                      *ngFor="
                        let quantity of subjectCollection().controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <td>{{ i + 1 }}.</td>
                      <td>
                        <input
                          id="subject"
                          type="text"
                          formControlName="subject"
                          class="form-control"
                          required
                        />
                      </td>

                      <td>
                        <input
                          type="text"
                          formControlName="fmTheory"
                          class="form-control w-50 mx-auto"
                        />
                      </td>
                      <td>
                        <input
                          type="text"
                          formControlName="fmPractical"
                          class="form-control w-50 mx-auto"
                        />
                      </td>
                      <td>
                        <button
                          class="ml-4"
                          mat-raised-button
                          color="warn"
                          (click)="removeSubject(i)"
                        >
                          Delete
                          <mat-icon>delete</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!-- </div> -->
            <mat-divider></mat-divider>
            <!-- save cancel button -->
            <div class="save">
              <kurumba-save-cancel-buttons
                (save)="onSave()"
                (cancel)="onCancel()"
              >
              </kurumba-save-cancel-buttons>
            </div>
            <!--/ save cancel button -->
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </fieldset>
</form>
