<div fxLayout="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="flex-start">
  <ng-container *ngFor="let item of sidebarItems">
    <mat-card
      fxFlex="0 1 calc(33.3% - 32px)"
      fxFlex.lt-md="0 1 calc(50% - 32px)"
      fxFlex.lt-sm="100%"
      [hidden]="item.hideTile"
    >
      <mat-card-header>
        <!-- <div mat-card-avatar class="example-header-image"></div> -->
        <mat-card-title>{{ item.label }}</mat-card-title>
        <mat-card-subtitle
          >For {{ item.label }} related tasks
        </mat-card-subtitle>
        <i style="color: black;" class="fas" [ngClass]="item.icon">
        </i>
      </mat-card-header>
      <mat-card-content>


      </mat-card-content>

      <mat-card-actions>
        <div
          [class.selectedMenu]="
            item?.label === activeLink?.label && selectedMenu != ''
          "
          [ngClass]="'home-cards__item--' + item.link"

        >

            <i
              (click)="openMenu(item)"
              class="fas my-3 fa-4x"
              [ngClass]="item.icon"
            >
            </i>
            <button
              mat-button
              (click)="openMenu(item)"
              class="mb-3 mr-2"
              matTooltip="Show details."
            >
              {{ item.label }}
            </button>
          </div>

      </mat-card-actions>
    </mat-card>

  </ng-container>
</div>
<div class="row">
  <div class="col"
    *ngFor="let item of sidebarSubMenuItems | subMenuFilter: label"
    [hidden]="item.hideTile"
  >
    <mat-card
      *ngIf="enableSubMenu"
      [ngClass]="'subMenu-cards__item--' + item.link"
      [routerLink]="'../' + item.link"
    >
      <i style="color: black;" class="fas" [ngClass]="item.icon">
      </i>

      <span style="color: black;" class="mb-3">
        {{ item.label }}
      </span>
    </mat-card>
  </div>
  </div>
