<div id="login-container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12 bg-warn" id="loginForm">
      <form novalidate [formGroup]="loginForm">
        <mat-card>
          <mat-card-title>
            <img
              class="mb-2 mt-3"
              src="assets/images/kurumba_logo.png"
              alt="kurumba ma vi logo"
            />
          </mat-card-title>

          <h4 class="text-center mt-3 mb-4"><b>LOGIN</b></h4>
          <div class="row">
            <div class="col-md-6 col-sm-6 mx-auto">
              <div
                class="alert alert-danger text-center clearfix"
                role="alert"
                *ngIf="errorMsg"
              >
                {{ errorMsg | titlecase }}
              </div>
            </div>
          </div>
          <mat-card-content>
            <div class="example-container text-center">
              <div class="row">
                <div class="col-md-12 col-sm-12 mx-auto mt-3">
                  <mat-form-field>
                    <mat-label>Username </mat-label>
                    <mat-hint align="end">Enter username</mat-hint>
                    <input matInput required formControlName="username" />

                    <mat-error *ngIf="loginForm.invalid">
                      {{ getUsernameErrorMsg() }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-sm-12 mx-auto mt-3 mb-3">
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <mat-hint align="end">Enter password</mat-hint>

                    <input
                      matInput
                      formControlName="password"
                      [type]="hide ? 'password' : 'text'"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                      (click)="hide = !hide"
                    >
                      <mat-icon>{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <mat-error *ngIf="loginForm.invalid">
                      {{ getPassErrorMsg() }}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="row">
              <div class="col-md-6 col-sm-6 mx-auto mt-3">
                <button
                  type="button"
                  class="btn btn-primary mx-auto w-100"
                  [disabled]="!loginForm.valid "
                  [class.spinner]="loading"
                  (click)="login()"
                >
                  Login
                </button>
              </div>
            </div>
          </mat-card-actions>
        </mat-card>
      </form>
    </div>
  </div>
</div>
