<div class="col p-0 y-auto">

  <kurumba-list-page-template
    [enableActiveLink]="true"
    [enableAdd]="true"
    [enableSearch]="true"
    [heading]="'Student List'"
    (add)="studentForm('add')"
    (search)="onSearch()">
    <!-- student table -->
    <table
      [dataSource]="studentListDataSource"
      mat-table
      class="mat-elevation-z8 "
    >
      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Sn Column -->
      <ng-container matColumnDef="Sn">
        <th
            mat-header-cell
            *matHeaderCellDef>No.</th>
        <td
            mat-cell
            *matCellDef="let element; index as i">{{ i + 1 }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th
            mat-header-cell
            *matHeaderCellDef>Name</th>
        <td
            mat-cell
            *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <!-- class Column -->
      <ng-container matColumnDef="class">
        <th
            mat-header-cell
            *matHeaderCellDef>Class</th>
        <td
            mat-cell
            *matCellDef="let element">{{ element.classx.className }}</td>
      </ng-container>

      <!-- Rollno Column -->
      <ng-container matColumnDef="rollno">
        <th
            mat-header-cell
            *matHeaderCellDef>Roll no</th>
        <td
            mat-cell
            *matCellDef="let element">
          {{ element.rollNo }}
        </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
        <th
            mat-header-cell
            *matHeaderCellDef>Address</th>
        <td
            mat-cell
            *matCellDef="let element">
          {{ element.address }}
        </td> </ng-container>

        <!-- fatherName Column -->
        <ng-container matColumnDef="fatherName">
        <th
            mat-header-cell
            *matHeaderCellDef>Father name</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fatherName }}
        </td> </ng-container>

         <!-- motherName Column -->
        <ng-container matColumnDef="motherName">
        <th
            mat-header-cell
            *matHeaderCellDef>Mother name</th>
        <td
            mat-cell
            *matCellDef="let element">
          {{ element.motherName }}
        </td> </ng-container>

         <!-- phoneNum Column -->
        <ng-container matColumnDef="phoneNum">
        <th
            mat-header-cell
            *matHeaderCellDef>Phone num</th>
        <td
            mat-cell
            *matCellDef="let element">
          {{ element.phoneNo }}
        </td> </ng-container>

        <!-- dob Column -->
        <ng-container matColumnDef="dob">
        <th
            mat-header-cell
            *matHeaderCellDef>D.O.B</th>
        <td
            mat-cell
            *matCellDef="let element">
          {{ element.dob | date}}
        </td> </ng-container>

         <!-- Action Column -->
        <ng-container matColumnDef="Action">
        <th
            mat-header-cell
            *matHeaderCellDef>Action</th>
        <td
            mat-cell
            *matCellDef="let element">
          <kurumba-action-buttons
              [enableEdit]='true'
              [enableDelete]='true'
              (edit)="studentForm('edit',element.studentId)"
              (delete)="onDelete(element)"
          >

          </kurumba-action-buttons>
          </td>
        </ng-container>

      <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns"></tr>
      <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <!-- / student table -->
  </kurumba-list-page-template>
</div>
