#about{
  height: 400px;
  background:url('/assets/images/old_buliding.png');
  color:grey;
  background-position: fixed;

}

.example-card{
  /* display: block; */
  text-align: center;
}

.mat-icon{
  font-size: 3em;
  color:blue;
  /* text-align: center; */
}
