#about{
  height: 400px;
  background:url('/assets/images/old_buliding.png');
  color:grey;
  background-position: fixed;

}

.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
