  <!-- <mat-sidenav-container>
    <mat-sidenav
        #sidenav
        mode="side"
        opened
        position="start">
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>Kurumba MA VI</h2>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-nav-list>
        <h2 matSubheader>Quick links</h2>
        <a
          mat-list-item
          (click)="sidenav.close()"
          routerLinkActive="list-item-active"
        >
          <mat-icon matListIcon> </mat-icon>
        </a>

        <mat-divider></mat-divider>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container> -->


